body {
    background-color: cornflowerblue;
    text-align: center;
}


#stay {
width: 110px;
height: 60px;
font-size: 35px;
background-color:cornsilk
}
#hit {
width: 110px;
height: 60px;
font-size: 35px;
background-color:cornsilk;

}

#main {

    text-align: center;
}

#butto {
width: 150px;
height: 30px;
font-size: 20px;
background-color:cornsilk;

}